@font-face {
  font-family: 'Conv_Apercu-Bold';
  src: url('fonts/Apercu-Bold.eot');
  src: local('☺'), url('fonts/Apercu-Bold.woff') format('woff'), url('fonts/Apercu-Bold.ttf') format('truetype'), url('fonts/Apercu-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
max-width:1024px;
max-height: 768px;
background-color: #e7f0f4;

      margin: 0;
      padding: 0;

}

#u90-5
{
display: block;
    margin-top: -60px;
margin-left: 68px;
}
  /*
    



  z-index: 2;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 24px;
  left: 68px;
  */

  #u364-4
{
   display: block;

    margin-top: -55px;
margin-left: 700px;
}

 /*
#u186-4
{
 
 
  z-index: 31;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 534px;
  */
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.flex-item {

    -webkit-flex: 1 auto;
    flex: 1 auto;
}


#return{

width:600px;
padding-top: -20px;
  }


.diaporama{
width: 70%;
 padding-top: -10px;

  }

  .texte{

width: 30%;
 padding-top: -10px;

  }


  #titre{
text-align: left;
  padding-top: 75px;


  }


.flechetexte{
  margin-left: 90px;
  padding-top: 5px;
  text-align: left;

}

h1{
  font-family: 'Roboto', sans-serif;

font-size: 32px;
font-weight:900;
line-height: 100%;
    color:#172f67;

}

h2{
font-family: 'Roboto', sans-serif;
font-weight:300;
font-size: 18px;
line-height: 20%;
    color:#172f67;


}

h3{
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight:300;
font-style: italic;
line-height: 20%;
    color:#172f67;

}

p{
font-family: 'Roboto', sans-serif;
 font-size:18px;
 padding-left: 70px;
margin-top: 5px;
 color:#172f67;

}


#bnature{
  position: fixed;
left: 98px;
top: 159px;

}
#bterre {
  position: fixed;
left: 149px;
top: 400px;

}

#bmineral{
  position: fixed;
left: 267px;
top:548px;

}

#btheire{
  position: fixed;
left: 343px;
top: 275px;

}

#bjourney{
  position: fixed;
left: 540px;
top: 146px;

}

#bchaise{
  position: fixed;
left: 505px;
top: 378px;

}

#bnid{
  position: fixed;
left:673px;
top: 313px;
}

#bsilk{
  position: fixed;
left:666px;
top: 481px;
}


#intro {
padding-right: 20px;

    text-align: left;
   	color:#172f67;
    text-justify: inter-word;
    font-family: 'Roboto', sans-serif;
 font-size:15px;

  }

#textecomplet {
  padding-right: 20px;

    text-align: left;
    color:#172f67;
    text-justify: inter-word;
    font-family: 'Roboto', sans-serif;
 font-size:15px;
  
}

